.leftBar {
   
    flex: 1;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");
   padding: 20px;
    
    &::-webkit-scrollbar {
        display: none;
      }
}