.post{
    background-color:white;
   margin: 20px;
    border-radius: 20px;
    padding: 20px;
    .top{
        height: 100px;
        display: flex;
        gap: 20px;
      .bar{
            display: flex;
            flex-direction: row;
        }

        img{
            height: 50px;
            width: 50px;
            border-radius: 50px;
        }
    }
    .bottom{
        img{
            border-radius: 20px;
            height: 350px;
            width: 200vw;
            margin: 20px;
        }
        .like{
            display: flex;
            gap: 50px;
        }
    }
}